<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386460479081-svf0mv3m2p25fpjrpnd2mj4r5kb7enk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386460479081-svf0mv3m2p25fpjrpnd2mj4r5kb7enk9</string>
	<key>API_KEY</key>
	<string>AIzaSyA6S8vhtTgQTmvpd3TbiCsBkXrd7jtafbk</string>
	<key>GCM_SENDER_ID</key>
	<string>386460479081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MARYVILLE.Estonian-Universities</string>
	<key>PROJECT_ID</key>
	<string>opi-eestis</string>
	<key>STORAGE_BUCKET</key>
	<string>opi-eestis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386460479081:ios:8ba3f6a2b8fd3e8710fcf8</string>
	<key>DATABASE_URL</key>
	<string>https://opi-eestis.firebaseio.com</string>
</dict>
</plist>